nav {
  list-style: none;
  display: flex;
  margin-bottom: 1.6rem;
  a {
    padding: 1.6rem;
    text-decoration: none;
    color: color;
    font-weight: 900;
    color: coral;
    border-bottom: 4px solid #333;
    &:hover {
      background-color: coral;
      color: #fff;
    }

    &.active {
      background-color: coral;
      color: #fff;
    }
  }
}
