/* You can add global styles to this file, and also import other style files */
html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
p {
  margin-bottom: 1.6rem;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: auto;
  width: 60em;
  max-width: 95%;
}
